<!--ヘッダー-->
<!--Bookers-->
<!--Home-->
<!--About-->
<!--Sign up-->
<!--Login-->

<!--サインアウト時メッセージ「Signed out successfully.」-->

<h1>Welcome to <strong>Bookers!!</strong></h1>
<!--本のアイコン入れる-->
<!--strong cssつける-->

<p>In <strong>Bookers</strong>, </p>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>